.textInput {
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    border: 1px solid white !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    color: white;
    background-color: black !important;
}
